@media only screen and (max-device-width: 4000px) {
#MainBodyBlock {
   margin: 5% auto;
    background-color: #14cfe0;
    padding: 10px;
    width: 100% auto;
    display: flex;
    align-content: center;
    drop-shadow(3px 1px 1px purple);
}

}
@media only screen and (max-device-width: 480px) {
    #MainBodyBlock{
        width: 100% auto;
        height: 100% auto;
        display: column;
        background-color: #14cfe0;
    }
}
p, h4, h3 {
  font-family: Gill Sans, sans-serif;
  color: black
}
